.plugin {background: url('../imgs/icons/plugin.png') no-repeat center center;}
.student {background: url('../imgs/icons/student.png') no-repeat center center;}
.teacher {background: url('../imgs/icons/teacher.png') no-repeat center center;}
.classs {background: url('../imgs/icons/classs.png') no-repeat center center;}
.dept {background: url('../imgs/icons/dept.png') no-repeat center center;}
.excersice {background: url('../imgs/icons/excersice.png') no-repeat center center;}
.record {background: url('../imgs/icons/record.png') no-repeat center center;}
.bank {background: url('../imgs/icons/bank.png') no-repeat center center;}
.repo {background: url('../imgs/icons/repo.png') no-repeat center center;}
.delete {background: url('../imgs/icons/delete.png') no-repeat center center;}
.database_refresh {background: url('../imgs/icons/database_refresh.png') no-repeat center center;}
.cog {background: url('../imgs/icons/cog.png') no-repeat center center;}

.icon-folder {background: url('../imgs/icons/folder.ico') no-repeat center center;}
.icon-document {background: url('../imgs/icons/document.ico') no-repeat center center;}
.icon-newfolder {background: url('../imgs/icons/newFolder.ico') no-repeat center center;}
.icon-expand {background: url('../imgs/icons/expand.ico') no-repeat center center;}
.icon-error {background: url('../imgs/icons/error.ico') no-repeat center center;}
.icon-errorRed {background: url('../imgs/icons/errorRed.ico') no-repeat center center;}
.icon-upload {background: url('../imgs/icons/upload.ico') no-repeat center center;}
.icon-edit1 {background: url('../imgs/icons/edit.ico') no-repeat center center;}
.icon-info {background: url('../imgs/icons/info.ico') no-repeat center center;}
.icon-down {background: url('../imgs/icons/down.ico') no-repeat center center;}
.icon-up {background: url('../imgs/icons/up.ico') no-repeat center center;}
.icon-industry {background: url('../imgs/icons/industry.ico') no-repeat center center;}
.icon-record {background: url('../imgs/icons/record.ico') no-repeat center center;}
.icon-bank {background: url('../imgs/icons/bank.ico') no-repeat center center;}
.icon-excersice {background: url('../imgs/icons/excersice.ico') no-repeat center center;}
.icon-book {background: url('../imgs/icons/book.ico') no-repeat center center;}
.icon-documents {background: url('../imgs/icons/documents.ico') no-repeat center center;}
.icon-teacher {background: url('../imgs/icons/teacher.ico') no-repeat center center;}
.icon-student {background: url('../imgs/icons/student.ico') no-repeat center center;}
.icon-sceneManage {background: url('../imgs/icons/scene_manager.ico') no-repeat center center;}
.icon-assignedTea {background: url('../imgs/icons/assign_teacher.ico') no-repeat center center;}
.icon-assignedStd {background: url('../imgs/icons/assign_std.ico') no-repeat center center;}
.icon-scoreQuery {background: url('../imgs/icons/queryscore.ico') no-repeat center center;}
.icon-step {background: url('../imgs/icons/step.ico') no-repeat center center;}
.icon-subjectDesign {background: url('../imgs/icons/subject_design.ico') no-repeat center center;}
.icon-check {background: url('../imgs/icons/check.ico') no-repeat center center;}
.icon-doExcer{background: url('../imgs/icons/doExcer.ico') no-repeat center center;}
.icon-right{background: url('../imgs/icons/right.ico') no-repeat center center;}
.icon-userForbidden{background: url('../imgs/icons/icon-userForbidden.ico') no-repeat center center;}
.icon-userEnable{background: url('../imgs/icons/icon-userEnable.ico') no-repeat center center;}
.icon-resetPwd{background: url('../imgs/icons/icon-resetPwd.ico') no-repeat center center;}
.icon-user{background: url('../imgs/icons/icon-user.ico') no-repeat center center;}
.icon-setting{background: url('../imgs/icons/setting.ico') no-repeat center center;}
.icon-count{background: url('../imgs/icons/count.ico') no-repeat center center;}
.icon-trans{background: url('../imgs/icons/trans.ico') no-repeat center center;}
.icon-box{background: url('../imgs/icons/box.ico') no-repeat center center;}
.icon-primer{background: url('../imgs/icons/primer.ico') no-repeat center center;}
.icon-genotype{background: url('../imgs/icons/genotype.ico') no-repeat center center;}
.icon-photo{background: url('../imgs/icons/photo.ico') no-repeat center center;}
.icon-exam{background: url('../imgs/icons/exam.ico') no-repeat center center;}
.icon-studbook{background: url('../imgs/icons/studbook.ico') no-repeat center center;}
